@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Satisfy&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --higher-color: #3f000f;
  --lower-color: #f54e4e;
}
body {
  font-size: 24px;
  color: black;
  font-style: italic;
  font-family: "Urbanist", sans-serif;
  text-transform: capitalize;
}
/* navbar css */

.img-circle {
  border-radius: 50px;
}
.navbar .navbar-nav .nav-link {
  color: #ce0333;
  /* font-size: 20px; */
}
.navbar .navbar-nav .nav-link:hover {
  cursor: pointer;
  background-color: #fbbcbc;
  border-radius: 20px;
}
.navbar .navbar-nav .nav-link.active{
  cursor: pointer;
  background-color: #fbbcbc;
  border-radius: 20px;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  color: white;
  size: 80px;
}
.dropdown-menu {
  border-radius: 0;
  padding: 0.5em;
  box-shadow: 0 3px 6px (rgba(0, 0, 0, 0.23));
  border: none;
}
.dropdown-menu ul {
  list-style: none;
  padding: 0px;
}
.dropdown-menu ul #lists {
  font-family: cursive;
  font-size: 15px;
  color-interpolation-filters: var(--higher-color);
}
.dropdown-menu ul #lists a:hover {
  color: rgb(37, 143, 243);
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}
.dropdown-menu li:first-child a {
  font-size: 1.2em;
  font-weight: bold;
  color: #3f000f;
  background-color: #f54e4e;
}

/* @media screen and(min-width:993px ){
    .navbar .dropdown-menu.show{
        display: flex;
    }
} */

/* banner css */
.carousel{
  height: 970px;
  width: 100%;
  

}
.carousel .carousel-item .carousel-caption{
position: absolute;
left: 0; 
width: 40%;
top: 25% ;


}


.carousel .carousel-item .carousel-caption #HEAD1{
   font-weight: bold;
   font-size: 80px;
   color:white;
}
.carousel .carousel-item .carousel-caption #HEAD2{
  font-weight: bold;
  font-size: 80px;
  color: #3f000f;
}
.carousel .carousel-item .carousel-caption #para{
   color: #3f000f;
   font-size: 30px;
   font-family: 'Marck Script', cursive;
   font-weight: bold;


}
.carousel .carousel-item .carousel-caption #para2{
  color:#f54e4e;
   font-size: 30px;
   font-family: 'Marck Script', cursive;
   font-weight: bold;
}


.carousel .carousel-inner .carousel-item img{
  height: 970px;
  
}
@media screen and(min-width:993px) {
  .carousel {
    height: 320px;
    width: 100%;
  }
  .carousel-inner .carousel-item img{
    height: 320px;
  } 
}



/* banner css ends */


 /* about us css  */
body .about-us{

 height: 650px;
 width: auto;
 background-color: gray;

 }
 
 .about-us .row{
  height: 350px;
  width: auto;
 
 }

 
 .about-us .column2{
 
  background-repeat: no-repeat;
  background-size: cover;

 }
 .about-us .column1 #about-para{
  font-size: 25px;

 }
 /* about css end  */
 
 /* cards css  */
 #ads {
  margin: 30px 0 30px 0;
 
}

#ads .card-notify-badge {
      position: absolute;
      left: -10px;
      top: -20px;
      background: #f2d900;
      text-align: center;
      border-radius: 30px 30px 30px 30px; 
      color: #000;
      padding: 5px 10px;
      font-size: 14px;

  }

#ads .card-notify-year {
      position: absolute;
      right: -10px;
      top: -20px;
      background: #ff4444;
      border-radius: 50%;
      text-align: center;
      color: #fff;      
      font-size: 14px;      
      width: 50px;
      height: 50px;    
      padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
      background: #f2d900;
      text-align: center;
      border-radius: 30px 30px 30px 30px;
      color: #000;
      padding: 5px 10px;
      font-size: 14px;        
  }

 

#ads .card:hover {
          background: #fff;
          box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
          border-radius: 4px;
          transition: all 0.3s ease;
      }

#ads .card-image-overlay {
      font-size: 20px;
      
  }


#ads .card-image-overlay span {
          display: inline-block;              
      }


#ads .ad-btn {
      text-transform: uppercase;
      width: 150px;
      height: 40px;
      border-radius: 80px;
      font-size: 16px;
      line-height: 35px;
      text-align: center;
      border: 3px solid #3f000f;
      display: block;
      text-decoration: none;
      margin: 20px auto 1px auto;
      color: #fff;
      overflow: hidden;        
      position: relative;
      background-color: #3f000f;
  }

#ads .ad-btn:hover {
          background-color: #3f000f;
          color: #f54e4e;
          border: 2px solid #3f000f;
          background: transparent;
          transition: all 0.3s ease;
          box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
      }

#ads .ad-title h5 {
      text-transform: uppercase;
      font-size: 18px;
  }
/* feature card css ends  */
  
/* contact form css */


#contact{
  background-color:#f1f1f1;
  font-family: 'Roboto', sans-serif;
}

#contact .well{
  margin-top:30px;
  border-radius:0;
}

#contact .form-control{
  border-radius: 0;
  border:2px solid #1e1e1e;
}

#contact button{
  border-radius:0;
  border:2px solid #1e1e1e;
}

#contact .row{
  margin-bottom:30px;
}

@media (max-width: 768px) { 
  #contact iframe {
      margin-bottom: 15px;
  }
  
}





  /* contact form css  ends */
